<div class="row" style="margin-top: 10px;">
  <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h6>Chat</h6>
      </div>
      <div style="min-height: 400px; max-height: 400px; overflow: auto;" class="card-block" id="wrap">
        <ul *ngFor="let message of messages">
          <li><span id="user" [ngStyle]="{'color': color}">{{user}}:</span> <app-row-message [message]="message"></app-row-message></li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="row">
          <span class="changeFont" data-toggle="tooltip" data-placement="bottom" title="Bold [b]" (click)="changes($event);">B</span>
          <span class="changeFont" data-toggle="tooltip" data-placement="bottom" title="Italic [i]" (click)="changes($event);">I</span>
          <span class="changeFont" data-toggle="tooltip" data-placement="bottom" title="Color [color=*]" (click)="changes($event);">Color</span>
          <span class="changeFont" data-toggle="tooltip" data-placement="bottom" title="Font-size [big]" (click)="changes($event);">Font-size</span>
        </div>
        <div class="row">
          <textarea class="form-control" [(ngModel)]="message" style="max-height: 150px; min-height: 150px; margin: 5px;"></textarea>
        </div>
        <button class="offset-xl-10 col-xl-2 offset-lg-10 col-lg-2 offset-md-8 col-md-4 col-xs-12 btn btn-primary" style="width: 100%;" type="button" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
